on fs
    export ANDROID_ROOT /system

    wait /dev/block/platform/13520000.ufs
    symlink /dev/block/platform/13520000.ufs /dev/block/bootdevice
    symlink /dev/block/platform/13520000.ufs/by-name /dev/block/by-name
    symlink /dev/block/platform/13520000.ufs/by-name/param /dev/block/param
